html, body {
  margin: 0;
  padding: 0;
}
body {
  min-width: 240px;
  font-family: Helvetica, Arial, sans-serif;
}
#latte {
  margin: 0 auto;
}
.entryImageBlock{
  display: block;
  overflow: hidden;
  margin: 0 auto;
  width: 240px;
  height: 240px;
}
.entryImageBlock .entryImage {
  position: absolute;
  top: -40px;
  overflow: hidden;
}
a img{
  vertical-align: bottom;
  border: none;
}